@import '../../../styles/variables';

.header {
  @include flexbox;
  @include flexbox-justify-space-between;
  @include flexbox-align-start;
  height: $order-digests-search-header-height;
  padding: 0 $contents-base-padding;
  background: $color-bg-white;
  .title {
    font-size: $font-size16;
    padding-top: 25px;
    span {
      font-size: $font-size24;
    }
  }
  .update {
    padding-top: 15px;
    dt {
      font-size: $font-size16;
      margin-bottom: 10px;
    }
  }
}

// $colSize1: 100%から引く
$colSize2: 200px;
$colSize3: 200px;
$colSize4: 200px;
$colSize5: 150px;
// 縦持ち
$colSize2Portrait: 120px;
$colSize3Portrait: 120px;
$colSize4Portrait: 120px;
$colSize5Portrait: 120px;

@mixin colInit {
  padding: 10px;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.content {
  height: calc(
    100vh - #{$header-height} - #{$footer-height} - #{$inventory-search-filter-height} - #{$inventory-search-header-height}
  );
  padding-bottom: $browser-toolbar-height;
  overflow-y: auto;
  .col1 {
    @include colInit;
    width: calc(100% - #{$colSize2} - #{$colSize3} - #{$colSize4} - #{$colSize5});
    text-align: center;
  }
  .col2 {
    @include colInit;
    width: $colSize2;
    text-align: center;
  }
  .col3 {
    @include colInit;
    width: $colSize3;
    text-align: center;
  }
  .col4 {
    @include colInit;
    width: $colSize4;
    text-align: center;
  }
  .col5 {
    @include colInit;
    width: $colSize5;
    text-align: center;
  }
  .row {
    @include flexbox;
    @include flexbox-justify-start;
    @include flexbox-align-center;
  }
  .thead {
    position: sticky;
    position: -webkit-sticky; /* for safari */
    top: 0;
    background: $color-bg-thead;
    color: $color-font-white;
    text-align: center;
  }
  .tbody {
    .row {
      background: $color-bg-white;
      &:nth-child(2n) {
        background: $color-bg-stripe-table;
      }
    }
    p + p {
      margin-top: 10px;
    }
  }
}

@include layout-portrait {
  //縦もち時
  .content {
    height: calc(
      100vh - #{$header-height} * 2 - #{$footer-height} - #{$inventory-search-filter-height-portrait} - #{$inventory-search-header-height}
    );
    overflow-x: auto;
    .col1 {
      width: calc(100% - #{$colSize2Portrait} - #{$colSize3Portrait} - #{$colSize4Portrait} - #{$colSize5Portrait});
    }
    .col2 {
      width: $colSize2Portrait;
    }
    .col3 {
      width: $colSize3Portrait;
    }
    .col4 {
      width: $colSize4Portrait;
    }
    .col5 {
      width: $colSize5Portrait;
    }
  }
}
