@import '../../../styles/variables';

.leftBlock {
  .classification {
    @include flexbox;
    @include flexbox-align-center;
    padding: 20px;
    background: $color-bg-white;
    .title {
      margin-right: 26px;
      font-size: $font-size16;
    }
  }
}
.rightBlock {
  @include flexbox;
  @include flexbox-justify-end;
  @include flexbox-align-center;
  .btn {
    min-width: 130px;
    margin-left: 20px;
  }
}

@include layout-portrait {
  //縦もち時
  .rightBlock {
    margin: 20px 0 0 auto;
  }
}
