// @types

// 仮
$width-3: 100% / 3;
$width-left-block: 30%;
$width-harf: 50%;
$width-center-block: 15%;
$width-right-block: 65%;
$width-numeric-input: 80%;
$width-diff: 20%;

%text-area {
  border: 2px solid gray;
  background-color: lightblue;
}

%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#container {
  width: 100%;
  .row {
    @extend %flex;
    .left {
      @extend %flex;
      width: $width-left-block;
      .value {
        width: 50%;
      }
      .item {
        @extend %flex;
        width: 100%;
        .label {
          width: 50%;
        }
        .value {
          width: 50%;
          text-align: right;
        }
      }
    }
    .center {
      width: $width-center-block;
      text-align: right;
    }
    .right {
      @extend %flex;
      width: $width-right-block;

      .item {
        @extend %flex;
        width: $width-numeric-input;

        .label {
          width: 50%;
        }
        .value {
          width: 50%;
          text-align: right;
        }
      }
      .diff {
        width: $width-diff;
      }
    }
  }
}
